# SpiderFoot integration
SPIDERFOOT_HOST=127.0.0.1
SPIDERFOOT_PORT=5001
SPIDERFOOT_DOCROOT=/osint
SPIDERFOOT_DIR=./server/spiderfoot-4.0
SPIDERFOOT_NO_VENV=1 # set to 0 to let server create venv and install deps automatically
